@model SubDeptClassModel

@{
    ViewData["Title"] = "EditSubDeptClass";
    Layout = "/Views/Shared/_FairbookLayout.cshtml";
}

<h1>Edit @Model.ClassName Class</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSubDeptClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId" class="form-control" value="@ViewData["ClassId"]" />
            <input type="hidden" asp-for="SubDeptId" class="form-control" value="@ViewData["SubDeptId"]" />
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" value="@Model.ClassName" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassRules" class="control-label"></label>
                <textarea asp-for="ClassRules" class="form-control" value="@Model.ClassRules"></textarea>
                <span asp-validation-for="ClassRules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" asp-route-id="@ViewData["SubDeptId"]"/> |
                <a asp-action="Home">Back To Department Home</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
