@model SubDeptIdModel

@{
    ViewData["Title"] = "SubDepartment";
    Layout = "/Views/Shared/_FairbookLayout.cshtml"; //TODO: Change nav bar to the specific department's sub departments
}

@if (User.IsInRole(LacamasFair.Data.IdentityHelper.Administrator))
{
    <div class="text-center">
        <a class="btn btn-primary mr-2 text-dark" asp-action="AddSubDeptClass" asp-controller="Department" asp-route-id="@Model.SubDeptId">Add Sub Department Class</a>
    </div>
}

<div class="text-center">
    <h1>@Model.SubDeptName Department</h1>
</div>

@* Display that sub department's classes *@
<div class="accordion" id="departmentClasses">
    @foreach (SubDeptIdModel item in ViewBag.SubDepartmentClasses)
    {
        <div class="card">
            <div class="card-header" id="heading">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
                        @item.DeptClasses
                    </button>

                    @if (User.IsInRole(LacamasFair.Data.IdentityHelper.Administrator))
                    { 
                        <a class="btn btn-success text-dark" asp-action="EditSubDeptClass" asp-controller="Department" asp-route-id="@item.SubDeptId">Edit class</a>
                        <a class="btn btn-danger text-dark" asp-action="DeleteSubDeptClass" asp-controller="Department" asp-route-id="@item.SubDeptId">Delete class</a>
                    }
                </h2>
            </div>
            <div id="collapse" class="collapse show" aria-labelledby="heading" data-parent="#departmentClasses">
                <div class="card-body text-dark">
                    @item.FairEntryRules
                </div>
            </div>
        </div>
    }
</div>


