@model BoardMember

@{
    ViewData["Title"] = "Fair Board";

    bool isAdmin = User.IsInRole(LacamasFair.Data.IdentityHelper.Administrator);
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}

<div class="text-center">
    <a asp-action="HistoryAndGoal" asp-controller="Home">History and Goal</a>
</div>
<br />

@if (isAdmin == true)
{
    <div class="text-center">
        <a class="btn btn-primary text-white" asp-action="AddBoardMember" asp-controller="Home">Add Board Member</a>
    </div>
}

<div class="text-center">
    <h1>Board Members</h1>
</div>
<br />

<h5 class="btn btn-info disabled">Community Club Officers</h5>

<table class="table">
    <thead class="text-center thead-dark">
        <tr>
            <th class="accent" scope="col">Title</th>
            <th class="accent" scope="col">Name</th>
            <th class="accent" scope="col">Contact Number</th>
            @if (isAdmin == true)
            {
                <th class="accent" scope="col">Edit/Delete</th>
            }
        </tr>
    </thead>
    <tbody class="text-center text-white">
        @foreach (BoardMember item in ViewBag.ClubOfficers)
        {
            <tr>
                <th scope="row">@item.Title</th>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                @if (isAdmin == true)
                {
                    <td>
                        <a class="btn btn-success text-white" asp-action="EditBoardMember" asp-route-id="@item.BoardMemberId">Edit</a>
                        <a class="btn btn-danger text-white" asp-action="DeleteBoardMember" asp-route-id="@item.BoardMemberId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<br />

<h5 class="btn btn-info disabled">Community Fair Officers</h5>

<table class="table">
    <thead class="text-center thead-dark">
        <tr>
            <th class="accent" scope="col">Title</th>
            <th class="accent" scope="col">Name</th>
            <th class="accent" scope="col">Contact Number</th>
            @if (isAdmin == true)
            {
                <th class="accent" scope="col">Edit/Delete</th>
            }
        </tr>
    </thead>
    <tbody class="text-center text-white">
        @foreach (BoardMember item in ViewBag.FairOfficers)
        {
        <tr>
            <th scope="row">@item.Title</th>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
            @if (isAdmin == true)
            {
                <td>
                    <a class="btn btn-success text-white" asp-action="EditBoardMember" asp-route-id="@item.BoardMemberId">Edit</a>
                    <a class="btn btn-danger text-white" asp-action="DeleteBoardMember" asp-route-id="@item.BoardMemberId">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
