@{
    ViewData["Title"] = "Home Page";

    bool isAdmin = User.IsInRole(LacamasFair.Data.IdentityHelper.Administrator);
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}

<div class="text-center">
    <h1>Lacamas Community Center</h1>
    <h4>32113 8th Avenue South</h4>
    <h4>Roy, WA 98580</h4>

    @* Image place holder for site *@
    <img src="https://via.placeholder.com/150" />

    <p>This site is currently under construction</p>

    @if (isAdmin == true)
    {
        <a class="btn btn-primary text-dark" asp-action="AddAnnouncement">Add an Announcement</a>
        <br />
    }

    @if (ViewBag.Announcements.Count > 0)
    {
        <div id="carouselControl" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    bool isFirst = true;
                }
                @foreach (Announcement item in ViewBag.Announcements)
                {
                    @if (isFirst == true)
                    {
                        <div class="carousel-item active" data-interval="10000">
                            <div class="card text-center d-block" style="width: 82%; margin-left:9%;">
                                <div class="card-header text-dark">
                                    Announcement
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@item.Title</h5>
                                    <p class="card-text text-dark">@item.Description</p>
                                </div>
                                <div class="card-footer text-muted">
                                    @item.Date
                                </div>
                            </div>
                            @if (isAdmin == true)
                            {
                                <a class="btn btn-success text-dark" asp-action="EditAnnouncement" asp-route-id="@item.AnnouncementId">Edit</a>
                                <a class="btn btn-danger text-dark" asp-action="DeleteAnnouncement" asp-route-id="@item.AnnouncementId">Delete</a>
                            }
                        </div>
                        isFirst = false;
                    }
                    else
                    {
                        <div class="carousel-item" data-interval="10000">
                            <div class="card text-center d-block" style="width: 82%; margin-left:9%;">
                                <div class="card-header text-dark">
                                    Announcement
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@item.Title</h5>
                                    <p class="card-text text-dark">@item.Description</p>
                                </div>
                                <div class="card-footer text-muted">
                                    @item.Date
                                </div>
                            </div>
                            @if (isAdmin == true)
                            {
                                <a class="btn btn-success text-dark" asp-action="EditAnnouncement" asp-route-id="@item.AnnouncementId">Edit</a>
                                <a class="btn btn-danger text-dark" asp-action="DeleteAnnouncement" asp-route-id="@item.AnnouncementId">Delete</a>
                            }
                        </div>
                    }
                }
            </div>

            <a class="carousel-control-prev" href="#carouselControl" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControl" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br />
    }

    <br />
    @* Google map for address *@
    <div id="googleMap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.8002270182265!2d-122.4440976843916!3d46.96561497914742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549119fee82989df%3A0x44daaa2845b66644!2sLacamas%20Community%20Club!5e0!3m2!1sen!2sus!4v1581032481085!5m2!1sen!2sus"
                width="325" height="300" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>

    @* This should contain a main contact email or redirected to contacts *@
    <h5>For more information, please send an e-mail to:</h5>
    <a href="mailto:LacamasFair@gmail.com">LacamasFair@gmail.com</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_CarouselMobileSwipeFeature"); }
}